table {
    margin-left: 40%;
    margin-top: 80px;
    border: 2px solid #48AAE6;
}

.td {
    width: 50px;
    height: 50px;
    border-width: thick;
    background-color: #48AAE6;
}

button {
    width: 50px;
    height: 50px;
}

#add-column{
  position: absolute;
    top: 1%;
    left: 756px;

}

#add-row{
    position: absolute;
    top: 100.3%;
    left: 40.1%;
}

#wrap{
    position: relative;
}

#delete_column{
   position: absolute;
    left: 539px;
    bottom: 100.3%;
    display: none;
}

#delete_row{
    position: absolute;
    top: 3px;
    left: 482px;
    display: none;
}

.add{
    border: none;
    font-size: 20px;
    color: white;
    background: #F3A500;
    cursor: pointer;
}

.add:hover {
    background: #F6C052;
    color: white;
}

.delete{
    border: none;
    font-size: 40px;
    color: white;
    background: #B20000;
    cursor: pointer;
}

.delete:hover {
    background: #CA4C49;
    color: white;
}

.transition {
    transition: 1s;
}

